/******************************************************************
This stylesheet is no longer just for social.

font-family:'Didot W01 Roman';
font-family:'Didot W01 Italic';
font-family:'Didot W01 Bold';
font-family:'Didot W01 Headline';
font-family:'Didot Open Face W01';
font-family:'Linotype Didot W01SC Rm SC';
font-family:'Didot W01 Bold Italic';
font-family:'LinotypeDidotW95-Orname';
******************************************************************/

.sb-ctn{
	width:25%;
	float:left;
	padding:4px;
}

.social-box {
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 100%;
    display: inline-block;
    float: left;
    position: relative;
    background-size: cover;
}

.s-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0,0,0,.8);
    height: 100%;
    color: white;
    text-align: left;
    overflow: hidden;
	
	-webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
	
	opacity:0;
}

.s-text a {
    color: white;
}
.s-text p {
    text-align: left !important;
    overflow:hidden;
	line-height:1.5;
	margin:0;
	font-size: 12px;
}
.s-link {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.social-box:hover .s-text{
	opacity:1;
}
.soc-logo {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: white;
}

.soc-logo span {
    color: white;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a{
	margin-left:4px;
	margin-right:14px;
	padding: 5px 20px 5px 20px;
}
#section-8 h2{
	padding-left:4px !important;
}
.not-white{
	background:transparent;
}
.not-white h5, .not-white #post-not-found{
	padding:0 15px;
}

@media only screen and (max-width : 1024px) {
	.filter-table td {
		width: auto;
	}
	.filter-table select{
		width:auto;
	}
}

@media only screen and (max-width : 768px) {
	.filter-table{
		width:100%;
	}
	.filter-table td {
		width: 100%;
		display: inline-block;
		text-align: center;
		margin: 5px 0;
	}
	.filter-table td.mob-w50{
		width:50%;
	}
	.filter-table select{
		width:140px;
	}

}

@media only screen and (max-width : 480px) {
	.sb-ctn{
		width:33.3%;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a{
		margin:0 4px;
	}	
	.social-box:hover .s-text{
		opacity:0;
	}
	.nav-tabs > li{
		margin:5px 0;
	}
	
}